parameters:
    level: 4
    treatPhpDocTypesAsCertain: false
    paths:
        - ./
    excludePaths:
        - ./vendor/*
        - ./tests/*
        # These files contain giant arrays that seem to make newer versions of phpstan stall/crash
        - ./src/Zend/Validate/Hostname/*
    ignoreErrors:
        - '#Variable \$context in isset\(\) always exists and is not nullable\.#'
        - '#Binary operation "\*" between string and .+ results in an error\.#'
        - '#Binary operation "\*" between 3 and string results in an error\.#'
        # This is intentional for short circuiting/execution flow management
        -
            message: '#Do-while loop condition is always false\.#'
            path: ./src/Zend/Validate/Hostname.php
